
  <!-- End Header and Nav -->
  <!-- First Band (Image) -->
  <div class="row">
    <div class="twelve columns">
      <!-- <img src="http://placehold.it/1000x400&text=[img]" /> -->
      <div id="slider">
        <a href="http://www.flickr.com/photos/mathoov/2429733088/" title="That's impossible. by Mathieu Thouvenin, on Flickr"><img src="http://farm3.staticflickr.com/2350/2429733088_e93bd5d5c0_b.jpg" width="1000" height="427" alt="That's impossible."></a>
      </div>
    </div>
  </div>
  <!-- Second Band (Image Left with Text) -->
  <div class="row">
    <div class="four columns">
      <a href="http://www.flickr.com/photos/yourdon/2681686220/" title="Thinkin' about the code by Ed Yourdon, on Flickr"><img src="http://farm4.staticflickr.com/3161/2681686220_1f39f404f4_n.jpg" width="320" height="192" alt="Thinkin' about the code"></a>
    </div>
    <div class="eight columns">
      <h4>Startups ♡ Students</h4>
      <div class="row">
        <div class="six columns">
          <p>If you are a student, interested in pursuing a career in the field of Technology, then there is no better place to begin than to join a startup. Its the best decision you would ever make. </p>
        </div>
        <div class="six columns">
          <p>We train you for free on important skills and match you with awesome startups so that you get a good headstart in your career by joining/interning at a tech startup.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Third Band (Image Right with Text) -->
  
  <div class="row">
    <div class="eight columns">
      <h4>How What & Why </h4>

      <p>An individual's career has 3 dimensions - breadth, width and depth. We believe that a startup helps the individual grow in all these 3 ways - by the vastness of the industry / technology, the depth of the knowledge and the never ending challenges.</p>
      
      <p>Startups also are always looking for talented individuals to work with and always find it difficult to fill in positions because of shortage in supply of honed skills. What better than to provide them with required skills and match with passionate talent.</p>
          
    </div>
    <div class="four columns">
      <a href="http://www.flickr.com/photos/eschipul/1464732217/" title="Startup Weekend Houston by eschipul, on Flickr"><img src="http://farm2.staticflickr.com/1043/1464732217_e572f94b0b_n.jpg" width="320" height="213" alt="Startup Weekend Houston"></a>
    </div>
  </div>